#contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 50%;
    width: 30%;
}

input, textarea{
    width: 100%;
}

.formBtn{
    border: 2px solid black;
    border-radius: 15px;
    width: 30%;
    align-self: center;
    background-color: black;
    color: white;
}

span{
    display: none;
}

.visible{
    display: block;
}