#contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 50%;
    width: 30%;
}

#contact-input{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    overflow: none;    
}

input, textarea{
    margin: 10px 0;
}

input{
    height: 20px;
}

textarea{
    height: 50px;
    resize: none;
}

.formBtn{
    border: 2px solid black;
    border-radius: 15px;
    width: 30%;
    align-self: center;
    background-color: black;
    color: white;
}

.formBtn:hover{
    cursor: pointer;
}

span{
    display: none;
}

.visible{
    display: block;
}