@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

body{
    margin: 0;
    background-image: linear-gradient(to right, rgb(28, 163, 216) , rgb(107, 219, 195));
}